<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form action="/create" method="POST">
    <label for="name">Game Title: </label>
    <input type="text" name="name" id="name" required>
    <label for="genre">Genre: </label>
    <select name="genre" id="genre">
      <% genres.forEach(genre=> { %>
        <option value="<%= genre.name %>">
          <%= genre.name %>
        </option>
        <% }); %>
    </select>
    <label for="developer">Developer: </label>
    <select name="developer" id="developer">
      <% developers.forEach(developer=> { %>
        <option value="<%= developer.name %>">
          <%= developer.name %>
        </option>
        <% }); %>
    </select>
    <button type="submit">Submit</button>
  </form>
</body>

</html>