<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/devIndex.css">
</head>

<body>

  <h1>
    <%= title %>
  </h1>

  <div id="links">
    <div id="tables">
      <a href="/"><button id="bLink">Home</button></a>
      <a href="/genres"><button id="bLink">Genres</button></a>
    </div>
    <div id="createNew">
      <a href="/developer/create"><button class="create">Create New</button></a>
    </div>
  </div>

  <table>
    <thead>
      <tr id="name">
        <th>Name</th>
        <th>Country</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <% developers.forEach(developer=> { %>
        <tr id="developers">
          <td id="dName">
            <%= developer.name %>
          </td>
          <td id="country">
            <%= developer.country %>
          </td>
          <td id="year">
            <%= developer.year %>
          </td>
          <td><button id="edit">Edit</button></td>
          <td><button id="delete">Delete</button></td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <!-- <div id="links">
    <div id="tables">
      <a href="/"><button>Home</button></a>
      <a href="/genres"><button>Genres</button></a>
    </div>
    <div id="createNew">
      <a href="/developer/create"><button>Create New</button></a>
    </div>
  </div> -->
</body>

</html>