<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <h1 class="title">
    <%= title %>
  </h1>
  <table>
    <thead>
      <tr id="name">
        <th id="title">Title</th>
        <th id="genre">Genre</th>
        <th id="developer">Developer</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(game=> { %>
        <% const gamename=game.name %>
          <tr id="games">
            <td id="gName">
              <%= game.name %>
            </td>
            <td id="genre">
              <%= game.genre %>
            </td>
            <td id="developer">
              <%= game.developer %>
            </td>
            <td><a href="/update?name=<%=gamename%>"><button id="<%=game.name%>" class="edit">Edit</button></a>
            </td>
            <td><a href="/delete?name=<%=gamename%>"><button class=" delete">Delete</button></a></td>
          </tr>
          <% }); %>
    </tbody>
  </table>


  <div id="links">
    <div id="tables">
      <a href="/developer"><button id="bLink">Developers</button></a>
      <a href="/genres"><button id="bLink">Genres</button></a>
    </div>
    <div id="createNew">
      <a href="/create"><button class="create">Create New</button></a>
    </div>
  </div>

  <!-- <script type="module" src="/js/"></script> -->
  <!-- <script type="module" src="../db/queries.js"></script> -->
</body>

</html>